.capitalize {
    text-transform: capitalize;
}

ul,li {
    list-style:none;
    padding: 5px 5px 5px 5px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li section {
    text-decoration:none;
    color:#000;
    display:block;
    height:25em;
    width:18em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

img:not(.footerImage) {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    background-color: white;
}

/* .product-brand { */
    /* font-weight: bold;
    text-decoration: underline; */
    /* text-align: center;
    text-indent: 63px; */
/* } */

#product-name {
    font-size: calc(4px + 2vmin);
}

.product-name-container {
   height: 20px;
}

.product {
    display: grid;
}

.product-container, .image-container {
    display: grid;
    justify-items: center;
}

#product-name-container, #product-price-container, #product-quanitity-container{
    display: grid; 
}

#product-brand-container { 
    display: grid; 
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
}

ul li .image-container:hover,ul li .image-container:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.99);
    position:relative;
    z-index:5;
    background-color: white;
}

ul li{
    margin:1em;
}

ul li img:not(.footerImage):hover,ul li img:not(.footerImage) {
    border: none;
}