.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}

.App-name {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  min-height: 5vh;
  text-align: left;
  font-size: calc(18px + 2vmin);
  color: black;
  font-family: "Work Sans";
  font-weight: bold;
  /* margin-left: 1rem; */
  /* padding: 5px; */
  margin: 1rem;
  padding: 1rem;
  left: 2%;
  text-indent: 5px;
}

.Search-bar {
  background-color: black;
  min-height: 25vh;
  color: white;
}

.App-content {
  padding: 5px 5px 5px 5px;
}

.Navigation-bar {
  /* margin: 0;
  padding: 0; */
  /* display: flex; */
  /* background-color: white; */
  /* float: right; */
  /* color: black; */
  /* text-align: center; */
  /* padding: 7px 25px; */
  /* margin: 1rem;
  padding: 1rem; */
  /* padding: 5px;
  margin-top: -4%; */
  /* margin: 20px; */
  /* text-decoration: none; */
  /* display: flex; */
  /* flex-direction: row; */
  /* position: absolute;
  top: 8px;
  right: 100px; */
}

.App-header {
  /* margin: 0; */
  display: flex;


  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.nav-link {
  margin: 0.5rem;
}

.links {
  display: flex;
  position:fixed;
  right: 20px;
  height: 5vh; 
  width: 20vw; 
  /* font-size: calc(1px + 1vmin); */
  margin: 0;
  /* justify-content: end; */
  /* float: right;  */
  /* position: absolute; 
  right: 0;  */
}
/* .App-header { */
  /* margin: 0;
  padding: 0; */
  /* display: block; */
  /* display: flex; */
  /* display: inline; */
  /* flex-direction: row; */
/* } */
/* Change the link color to #111 (black) on hover */
