.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}

.App-name {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  min-height: 5vh;
  text-align: left;
  font-size: calc(18px + 2vmin);
  color: black;
  font-family: "Work Sans";
  font-weight: bold;
  /* margin-left: 1rem; */
  /* padding: 5px; */
  margin: 1rem;
  padding: 1rem;
  left: 2%;
  text-indent: 5px;
}

.search-container {
  background-color: black;
  height: 20vh;
  color: white;
  /* padding: 10px; */
}

.user-input {
  display: grid;
  width: 100%;
  /* min-height: 20vh; */
  grid-template-areas:  "search arrow"
                        "address arrow";
  gap: 10px;
  grid-template-columns: 400px 1fr; 
  grid-template-rows: 10vh 1fr;
}

.search-input {
  grid-area: search;
  margin-top: 35px;
  height: 4vh;
  width: 21.5vw;
  margin-left: 36px;
  color: rgb(99, 96, 96);
  background-color: #DDD;
  align-content: center;
  text-align: left;
  text-indent: 5px;
  border-radius: 50px;
  font-size: calc(5px + 1vmin);
}

.arrow {
  grid-area: arrow;
  content: '';
  width: 3vmin;
	height: 3vmin;
  border-width: .5vmin .5vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transition: .2s ease;
  display: block;
  transform: rotate(45deg);
  margin-top: 62.5px;
  margin-left: 20px;
  padding: 5px;
}

.address-input {
  grid-area: address;
  height: 4vh;
  width: 21.5vw;
  margin-left: 36px;
  padding: 0px;
  color: rgb(99, 96, 96);
  background-color: #DDD;
  align-content: center;
  text-align: left;
  text-indent: 5px;
  border-radius: 50px;
  font-size: calc(5px + 1vmin);
}

.search-input, .address-input {
  /* display: flex;
  justify-content: flex-start; */
  /* align-content: center; */
  /* text-align: left; */
  /* min-height:4vh; */
  /* text-indent: 5px; */
  /* background-color: #DDD; */
  /* padding: 5px 5px; */
  /* width: 375px; */
  border-radius: 50px;
  font-size: calc(5px + 1vmin);
}

@media screen and (max-width: 768px) {
  .search-input, .address-input {
    width: 325px;
    margin-left: 0px;
    font-size: calc(3px + 2vmin);
  }
  .user-input {
    display: grid;
    width: 100%;
    min-height: 20vh;
    grid-template-areas:  "search"
                          "address";
    gap: 10px;
    grid-template-columns: 325px; 
    grid-template-rows: 10vh;
    /* margin-left: 30px; */
  }
  .search-container {
    display: grid; 
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
  .arrow {
    display: none;
  }
}

.App-content {
  padding: 5px 5px 5px 5px;
}

.Navigation-bar {
  /* margin: 0;
  padding: 0; */
  /* display: flex; */
  /* background-color: white; */
  /* float: right; */
  /* color: black; */
  /* text-align: center; */
  /* padding: 7px 25px; */
  /* margin: 1rem;
  padding: 1rem; */
  /* padding: 5px;
  margin-top: -4%; */
  /* margin: 20px; */
  /* text-decoration: none; */
  /* display: flex; */
  /* flex-direction: row; */
  /* position: absolute;
  top: 8px;
  right: 100px; */
}

.App-header {
  /* margin: 0; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.nav-link {
  margin: 0.5rem;
}

.links {
  display: flex;
  position:fixed;
  right: 20px;
  height: 5vh; 
  width: 20vw; 
  margin: 0;
  /* justify-content: end; */
  /* float: right;  */
  /* position: absolute; 
  right: 0;  */
}
/* .App-header { */
  /* margin: 0;
  padding: 0; */
  /* display: block; */
  /* display: flex; */
  /* display: inline; */
  /* flex-direction: row; */
/* } */
/* Change the link color to #111 (black) on hover */

